<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{asset('assets')}}/index.html"><img src="{{asset('assets')}}/images/logo.png" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" href="{{asset('assets')}}/index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{asset('assets')}}/about.html">About Us</a></li>
                    <li class="dropdown megamenu-fw">
                        <a href="{{asset('assets')}}/#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Product</a>
                        <ul class="dropdown-menu megamenu-content" role="menu">
                            <li>
                                <div class="row">
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Top</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="{{asset('assets')}}/shop.html">Jackets</a></li>
                                                <li><a href="{{asset('assets')}}/shop.html">Shirts</a></li>
                                                <li><a href="{{asset('assets')}}/shop.html">Sweaters & Cardigans</a></li>
                                                <li><a href="{{asset('assets')}}/shop.html">T-shirts</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end col-3 -->
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Bottom</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="{{asset('assets')}}/shop.html">Swimwear</a></li>
                                                <li><a href="{{asset('assets')}}/shop.html">Skirts</a></li>
                                                <li><a href="{{asset('assets')}}/shop.html">Jeans</a></li>
                                                <li><a href="{{asset('assets')}}/shop.html">Trousers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end col-3 -->
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Clothing</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="{{asset('assets')}}/shop.html">Top Wear</a></li>
                                                <li><a href="{{asset('assets')}}/shop.html">Party wear</a></li>
                                                <li><a href="{{asset('assets')}}/shop.html">Bottom Wear</a></li>
                                                <li><a href="{{asset('assets')}}/shop.html">Indian Wear</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Accessories</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="{{asset('assets')}}/shop.html">Bags</a></li>
                                                <li><a href="{{asset('assets')}}/shop.html">Sunglasses</a></li>
                                                <li><a href="{{asset('assets')}}/shop.html">Fragrances</a></li>
                                                <li><a href="{{asset('assets')}}/shop.html">Wallets</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end col-3 -->
                                </div>
                                <!-- end row -->
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{asset('assets')}}/#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{asset('assets')}}/cart.html">Cart</a></li>
                            <li><a href="{{asset('assets')}}/checkout.html">Checkout</a></li>
                            <li><a href="{{asset('assets')}}/my-account.html">My Account</a></li>
                            <li><a href="{{asset('assets')}}/wishlist.html">Wishlist</a></li>
                            <li><a href="{{asset('assets')}}/shop-detail.html">Shop Detail</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{asset('assets')}}/service.html">Our Service</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{asset('assets')}}/contact-us.html">Contact Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="{{asset('assets')}}/#"><i class="fa fa-search"></i></a></li>
                    <li class="side-menu"><a href="{{asset('assets')}}/#">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge">3</span>
                        </a></li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        <div class="side">
            <a href="{{asset('assets')}}/#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box">
                <ul class="cart-list">
                    <li>
                        <a href="{{asset('assets')}}/#" class="photo"><img src="{{asset('assets')}}/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                        <h6><a href="{{asset('assets')}}/#">Delica omtantur </a></h6>
                        <p>1x - <span class="price">$80.00</span></p>
                    </li>
                    <li>
                        <a href="{{asset('assets')}}/#" class="photo"><img src="{{asset('assets')}}/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                        <h6><a href="{{asset('assets')}}/#">Omnes ocurreret</a></h6>
                        <p>1x - <span class="price">$60.00</span></p>
                    </li>
                    <li>
                        <a href="{{asset('assets')}}/#" class="photo"><img src="{{asset('assets')}}/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                        <h6><a href="{{asset('assets')}}/#">Agam facilisis</a></h6>
                        <p>1x - <span class="price">$40.00</span></p>
                    </li>
                    <li class="total">
                        <a href="{{asset('assets')}}/#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                        <span class="float-right"><strong>Total</strong>: $180.00</span>
                    </li>
                </ul>
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
</header>